@import fonts/fonts.sass
@tailwind base
@tailwind components
@tailwind utilities

body
	display: flex
	height: 100vh
	justify-content: center
	background-color: #1e1e1e
	font-family: 'SF Pro Text', sans-serif
	font-weight: 400
	color: white

.simplebar-track.simplebar-vertical
	width: 6px !important

.simplebar-scrollbar:before
	background: rgba(255, 255, 255, 0.5) !important
